
/*
================================================================================

  "Search Dropdown" component

================================================================================
*/

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  background-color: #404040;


  // Open state
  &.js-open {
    display: block;
  }


  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__form {
    position: relative;
    display: flex;
    margin-bottom: 5rem;
    width: 100%;
    max-width: 41.2rem;
  }

  &__input {
    @include placeholder(rgba($dark-grey-color, 0.5));
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 5.2rem;
    width: 100%;
    height: 5rem;
    color: $dark-grey-color;
    background-color: $light-grey-color;
    border: 0;
    border-radius: 0;
    outline: 0;
    font-size: 1.6rem;
    line-height: normal;
    transition: $default-transition;
    appearance: none;

    &:focus {
      background-color: $white-color;
    }

    // Remove "X" icon from field
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &__clear-btn {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    cursor: pointer;

    > .icon {
      width: 2.2rem;
      height: 2.2rem;
      fill: $dark-grey-color;
    }
  }


  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    max-width: 41.2rem;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $white-color;
    font-size: 1.4rem;
    line-height: (18/14);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1600px
@include mq($until: mq1600px) {
  .search-dropdown {

    &__container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    &__form {
      margin-bottom: 3rem;
    }
  }
}


// Until 768px
@include mq($until: mq768px) {
  .search-dropdown {

    &__container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: $pad-sm;
      padding-right: $pad-sm;
    }

    &__form {
      margin-bottom: 2rem;
    }

    &__form,
    &__list {
      max-width: none;
    }
  }
}
