
/*
================================================================================

  "Sort" component

================================================================================
*/

.sort {
  display: flex;
  align-items: center;

  &__title {
    margin-right: 2rem;
    font-size: 1.6rem;
    line-height: (20/16);
    white-space: nowrap;
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 768px
@include mq($until: mq768px) {
  .sort {

    &__title {
      margin-right: 1.5rem;
    }
  }
}
