
/*
================================================================================

  "Tag" component

================================================================================
*/

.tag {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 4rem;
  border: 1px solid $blue-color;

  &__remove-btn {
    margin-right: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      > .icon {
        fill: $blue-color;
      }
    }

    > .icon {
      width: 1.6rem;
      height: 1.6rem;
      fill: $dark-grey-color;
      transition: $default-transition;
    }
  }

  &__title {
    font-size: 1.6rem;
    line-height: (22/16);
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1024px
@include mq($until: mq1024px) {
  .tag {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.4rem;

    &__remove-btn {
      margin-right: 1rem;

      > .icon {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    &__title {
      font-size: 1.4rem;
    }
  }
}


// Until 375px
@include mq($until: mq375px) {
  .tag {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;

    &__remove-btn {
      margin-right: 1rem;

      > .icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    &__title {
      font-size: 1.3rem;
    }
  }
}
