
/*
================================================================================

  Variables

================================================================================
*/



/* Grid
------------------------------------- */

$pad-md: 4rem;
$pad-sm: 2rem;



/* Fonts
------------------------------------- */

$raleway-font-stack: 'Raleway', sans-serif;



/* Colors
------------------------------------- */

$black-color: #000;
$dark-grey-color: #404040;
$grey-color: #707070;
$light-grey-2-color: #aaa;
$light-grey-color: #f4f4f4;
$white-color: #fff;
$red-color: #f37171;
$green-color: #3aa04d;
$light-blue-color: #71a8f3;
$blue-color: #005ee6;
$light-purple-color: #c95ad8;
$purple-color: #7F3589;



/* Transitions
------------------------------------- */

$default-transition: all 200ms ease;
