
/*
================================================================================

  "Checkout" page

================================================================================
*/

.checkout {
  margin-top: 24px;
  @include no-shrink;

  &__container {
    @include container;
    max-width: 1366px;
    padding: 0;
    @media (max-width: 1400px) {
      padding: 0 20px;
    }
  }

  &__header {
    margin-bottom: 4.5rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 500;
    line-height: (50/40);
  }

  &__body {
    display: flex;
    align-items: flex-start;
  }
}



/* Content
------------------------------------- */

.checkout-content {
  flex-grow: 1;
  margin-right: 4rem;

  &__container {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__notifications {
    margin-bottom: 2rem;
  }

  &__row {
    display: flex;
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }


    &--2-columns {
      .checkout-content__column {
        width: calc(50% - (2rem * 1 / 2));
      }
    }

    &--3-columns {
      .checkout-content__column {
        width: calc(50% - (2rem * 2 / 2));
      }
    }
  }

  &__column {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}



/* Sidebar
------------------------------------- */

.checkout-sidebar {
  flex-shrink: 0;
  width: 40rem;

  &__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $light-grey-2-color;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: (24/20);
  }

  &__items {
    margin-left: auto;
    color: $light-grey-2-color;
    font-size: 1.6rem;
    line-height: (19/16);
  }

  &__body {
    margin-bottom: 2.5rem;

    .cart-item {

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }


      &__photo {
        width: 10rem;
      }

      &__title,
      &__author,
      &__price{
        font-size: 1.6rem;
      }
    }
  }

  &__footer {
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    th {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: $light-grey-2-color;
      border-top: 1px solid $light-grey-2-color;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: (21/14);
      text-align: left;
    }

    td {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: $light-grey-2-color;
      border-top: 1px solid $light-grey-2-color;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: (21/14);
      text-align: right;

      .currency-sign {
        font-size: 1.3rem;
      }

      .link {
        color: $light-blue-color;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}



/* Method
------------------------------------- */

.checkout-method {
  width: 100%;

  &__header {
    padding-bottom: 1rem;
    color: $grey-color;
    border-bottom: 1px solid $light-grey-2-color;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
  }

  &__container {
  }

  &__item {
    border-bottom: 1px solid $light-grey-2-color;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      & + .checkout-method__label {
        background-color: rgba($light-purple-color, 0.2);

        &::before {
          border-color: $purple-color;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 5rem;
    padding-right: 2rem;
    width: 100%;
    transition: $default-transition;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $light-grey-color;

      &::before {
        border-color: #e6e6e6;
      }
    }


    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1.6rem;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background-color: $white-color;
      border: 0.3rem solid $light-grey-color;
      border-radius: 50%;
      transition: $default-transition;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 2.2rem;
      transform: translateY(-50%);
      width: 0.8rem;
      height: 0.8rem;
      background-color: $purple-color;
      border-radius: 50%;
      opacity: 0;
      transition: $default-transition;
    }
  }

  &__title {
    margin-right: 2rem;
    color: $grey-color;
    font-size: 1.6rem;
    line-height: normal;
  }

  &__price {
    margin-left: auto;
    color: $grey-color;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: normal;
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1280px
@include mq($until: mq1280px) {
  .checkout-content {
    margin-right: 3rem;

    &__container {
      padding-top: 2rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .checkout-sidebar {
    width: 34rem;

    .cart-item__title {
      font-size: 1.5rem;
    }
  }
}


// Until 1024px
@include mq($until: mq1024px) {
  .checkout {

    &__header {
      margin-bottom: 3rem;
    }

    &__body {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 56rem;
    }
  }

  .checkout-content,
  .checkout-sidebar {
    width: 100%;
  }

  .checkout-content {
    margin-bottom: 4rem;
  }
}


// Until 640px
@include mq($until: mq640px) {
  .checkout-content {

    &__row {
      display: block;
      margin-bottom: 2rem;

      &--2-columns {
        .checkout-content__column {
          width: 100%;
        }
      }

      &--3-columns {
        .checkout-content__column {
          width: 100%;
        }
      }
    }

    &__column {
      margin-bottom: 2rem;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


// Until 568px
@include mq($until: mq568px) {
  .checkout {

    &__title {
      font-size: 2.6rem;
    }
  }
}


// Until 480px
@include mq($until: mq480px) {
  .checkout-sidebar {

    &__title {
      font-size: 1.6rem;
    }
  }

  .checkout-method {

    &__header {
      font-size: 1.6rem;
    }

    &__label {
      padding-left: 4rem;
      padding-right: 1.5rem;

      &::before {
        left: 1rem;
      }

      &::after {
        left: 1.6rem;
      }
    }
  }
}


// Until 375px
@include mq($until: mq375px) {
  .checkout {

    &__title {
      font-size: 2.4rem;
    }
  }
}
