@mixin burger {
  position: relative;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  color: $black-color;
  background-color: transparent;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
}
